<h1 class="mb-5">Add A New Location To Review</h1>

<form action="/places/create" method="post">
  <div class="form-group">
    <label>Add New Location</label>
    <input type="text" class="form-control" name="place"></input>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>