<h1>Places With Recommendations</h1>

<% for place in @places %>
    <p><a href="/places/<%= place[:id] %>"><%= place[:title] %></a></p>
<% end %>

<p class="mt-5">
    <% if @current_user %>
        <a href="/new_place" class="btn btn-primary">New Location</a>
    <% else %>
        <a href="/logins/new" class="btn btn-danger">Please sign in to RSVP</a>
    <% end %>
</p>